<!doctype html>
<html>

<head>
  <title>
    <%= json.project.title %>
  </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <!-- Safari, you're the worst -->
  <meta name='format-detection' content='telephone=no'>
  <link rel="stylesheet" type="text/css" href="style.css">
  <%= t.include("partials/_head.html") %>
</head>

<body>
  <responsive-child class="map-container">
    <div class="outmost">
      <section class="chatter">
        <h1>Where are people homeless in King County?</h1>
        <p>The Jan. 26, 2018 Point in Time count of homelessness in King County found 12,112 people, up 4 percet from the year before. But the count found much larger increases in some areas.</p>
        <p>To discover stories about the homelessness crisis is neighborhoods across the county, <b>tap on census tracts outlined in black</b>.</p>
      </section>
      <section class="map-and-stories">
        <div class="aspect-ratio-outer">
          <div class="aspect-ratio-inner">
            <leaflet-map zoom=9.5 lat="47.51", lng="-121.93">
              <map-options>{ "zoomSnap": 0.5 }</map-options>
              <tile-layer layer="cartoPositronBlank"></tile-layer>
              <geo-json id="mainlayer">
                <geo-data></geo-data>
                <geo-style>{ "weight": 1, "color": "#000", "opacity":0.1, "fillOpacity": 0.4 }</geo-style>
                <geo-palette property="pit_percent">
                  <color-mapping max=-2 color="transparent"></color-mapping>
                  <color-mapping min=-1 max=-0.11 color="#d8b365"></color-mapping>
                  <color-mapping min=-0.1 max=-0.01 color="#f6e8c3"></color-mapping>
                  <color-mapping min=-0 max=0 color="#ffffff"></color-mapping>
                  <color-mapping min=0.01 max=0.1 color="#c7eae5"></color-mapping>
                  <color-mapping min=0.11 max=1 color="#5ab4ac"></color-mapping>
                  <color-mapping min=1.01 color="#01665e"></color-mapping>
                </geo-palette>
              </geo-json>
            </leaflet-map>
          </div>
          <aside class="legend">
            <h1>Change in homeless population, 2017 to 2018*</h1>
            <ul class="scale">
              <li><span class="block" style="background-color: #d8b365"></span> -11% or less</li>
              <li><span class="block" style="background-color: #f6e8c3"></span> -10% to -1%</li>
              <li><span class="block" style="background-color: #ffffff"></span> 0%*</li>
              <li><span class="block" style="background-color: #c7eae5"></span> +1% to +10%</li>
              <li><span class="block" style="background-color: #5ab4ac"></span> +11% to +100%</li>
              <li><span class="block" style="background-color: #01665e"></span> +101% or more</li>
            </ul>
          </aside>
        </div>
        <p class="note">* All Home does not provide an exact number for census tracts where 25 or fewer homeless people were counted. To calculate the most conservative estimates of change, a count of 25 people was used for these tracts. No data was available for the 2018 counts of census tracts 276 and 295.02.</p>
        <p class="list-intro">Tap below to read related stories or see them on the map.</p>
        <ul class="story-list">
          <% Object.entries(json.homelessMap_featured)
            .sort(([_, storyA], [__, storyB]) => storyA.sort - storyB.sort)
            .forEach(([tract, story]) => { %>
            <div class="story" data-tract="<%= tract %>" tabindex="0">
              <div class="photo"><img src="<%= story.image %>" alt="<%= story.alt %>"></div>
              <div class="hed">
                <span><%= story.org %></span>
                <a href="<%= story.url %>" target="_blank"><%= story.headline %></a>
              </div>
            </div>
          <% }) %>
          </ul>
      </section>
      <div class="source">Sources: All Home, King County, Washington Office of Financial Management <span class="credit">Alec Glassford / The Seattle Times</span></div>
    </div>
  </responsive-child>
  <script>
    window.topoData = <%= t.include("pit_topo.json") %>;
    window.stories = <%= JSON.stringify(json.homelessMap_featured) %>;
  </script>
  <script src="app.js"></script>
  <% /*= t.include("partials/_foot.html"); */ %>
  <%= t.include("partials/_workHere.html") %>
</body>

</html>
